.projects {

    &__all-projects{
        display: flex;
        flex-direction: column;
        gap: 4rem;
    }

}

@media screen and (min-width: 768px) {
    .projects{

        &__all-projects{
            margin: 0rem;
            margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3,1fr);
            column-gap: 2.5rem;
            row-gap: 4rem;
        }
    }
}


@media screen and (min-width: 1444px) {
    .projects{

        &__all-projects{
            margin: 4rem;
            margin-top: 5rem;
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(2,1fr);
            column-gap: 3rem;
            row-gap: 5rem;

        }
    }
}