@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", san-serif;
  color: #C9D7F3;
}

.projects__button {
  border-radius: 3rem;
  background-color: #2E3047;
  color: #C9D7F3;
  border: 1px solid #3BBA9C;
  color: #3BBA9C;
  padding: 0.625rem;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
.projects__button--code {
  width: 7.063rem;
}
.projects__button--preview {
  width: 8.75rem;
}
.projects button:hover {
  cursor: pointer;
}

.footer__button {
  border-radius: 30.125rem;
  background-color: #2E3047;
  border: none;
  width: 2.813rem;
  height: 2.813rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro__button {
  border-radius: 3rem;
  background-color: #3BBA9C;
  border: 2px solid #3BBA9C;
  width: 20rem;
  height: 5rem;
  font-size: 1.25rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.intro__button a {
  color: #1D202E;
  text-decoration: none;
}
.intro__button a:visited {
  text-decoration: none;
  color: #3BBA9C;
}
.intro__button img {
  padding-top: 0.5rem;
}

.intro__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1044px) {
  .header__button {
    border-radius: 3rem;
    background-color: #2E3047;
    border: 1px solid #3BBA9C;
    color: #3BBA9C;
    width: 9.063rem;
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.projects__project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  border: 1px solid #707793;
  border-radius: 7px;
}
.projects__img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}
.projects figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects figcaption h4 {
  font-size: 1rem;
  font-weight: 600;
}
.projects figcaption h5 {
  font-size: 2.375rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.projects figcaption p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 0.5rem;
}
.projects__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.5rem;
}

.footer__email-link a {
  color: #707793;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
}
.footer__email-link a:visited {
  color: pink;
  text-decoration: none;
}

.tech-skills__icon {
  text-align: center;
}
.tech-skills__icon figcaption {
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 500;
}

@media screen and (min-width: 1044px) {
  .tech-skills__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.about-me p {
  font-size: 1.125rem;
  text-align: start;
  line-height: 180%;
  font-weight: 400;
  margin-top: 2.5rem;
}

@media screen and (min-width: 1044px) {
  .about-me {
    margin: 4rem;
    display: grid;
    grid-column-gap: 5rem;
    grid-template-areas: "profile title" "profile paragraph1" "profile paragraph2";
  }
  .about-me h3 {
    grid-area: title;
    text-align: left;
    margin-bottom: 0;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .about-me figure {
    grid-area: profile;
    width: 26rem;
  }
  .about-me img {
    width: 100%;
  }
  .about-me p {
    grid-area: paragraph;
    margin-top: 2rem;
  }
}
.footer {
  background-color: #1D202E;
  color: #2E3047;
  height: 13.5rem;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.footer__buttons {
  display: flex;
  justify-content: space-evenly;
  width: 12.5rem;
  height: auto;
}

@media screen and (min-width: 1044px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;
    height: 9.5rem;
  }
  .footer__email-link {
    font-size: 2rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2.4rem;
  margin-top: 1.5rem;
  margin-bottom: 0rem;
}
.header__name {
  display: flex;
  flex-direction: row;
}
.header__name img {
  width: 2rem;
}
.header__name a {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "DM Sans", san-serif;
  color: #C9D7F3;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.header__name a:visited {
  color: #C9D7F3;
  text-decoration: none;
}
.header__name span {
  font-family: "DM Sans", san-serif;
  font-weight: 700;
  font-size: 1.5rem;
  padding-left: 0.3rem;
}
.header__nav a {
  display: none;
}
.header__nav button {
  display: none;
}
.header__nav img {
  display: flex;
}

@media screen and (min-width: 1044px) {
  .header {
    display: flex;
    justify-content: space-between;
    margin: 6rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
  .header__name a {
    font-family: "Inter", san-serif;
    font-size: 1.3rem;
    font-weight: 300;
    color: #C9D7F3;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .header__name span {
    font-family: "Inter", san-serif;
    font-size: 1.3rem;
    padding: 0;
    font-weight: 700;
  }
  .header__name a:visited {
    color: #C9D7F3;
    text-decoration: none;
  }
  .header__name img {
    display: none;
  }
  .header__nav {
    display: flex;
    gap: 2.5rem;
    align-items: center;
  }
  .header__nav a {
    font-size: 1.125rem;
    font-weight: 400;
    color: #C9D7F3;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .header__nav img {
    display: none;
  }
  .header__nav button {
    display: flex;
  }
  .header__nav button:hover {
    cursor: pointer;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: #31354F;
  padding: 2rem;
  padding-top: 7rem;
  padding-bottom: 6rem;
}
.intro h1 {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;
  color: #707793;
}
.intro h2 {
  font-size: 4rem;
  font-weight: 600;
}

@media screen and (min-width: 1044px) {
  .intro {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 10rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .intro__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .intro__text h1 {
    font-size: 2rem;
  }
  .intro__text h2 {
    text-align: center;
  }
}
.projects__all-projects {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.projects__project {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projects__img {
  width: 100%;
  height: auto;
}
.projects figcaption {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects figcaption h4 {
  font-size: 1rem;
  font-weight: 600;
  color: #707793;
}
.projects figcaption h5 {
  font-size: 2.375rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.projects figcaption p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 160%;
}

@media screen and (min-width: 1044px) {
  .projects__all-projects {
    margin: 4rem;
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3rem;
    row-gap: 5rem;
  }
}
.tech-skills {
  margin-top: 4rem;
}
.tech-skills p {
  font-size: 1.125rem;
  margin-top: 2.5rem;
  margin-bottom: 4rem;
  line-height: 180%;
  font-weight: 400;
  text-align: center;
}
.tech-skills__figures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-bottom: 6rem;
}

@media screen and (min-width: 1044px) {
  .tech-skills {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tech-skills p {
    width: 33rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }
  .tech-skills__figures {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 3rem;
    margin-bottom: 5rem;
  }
}
body {
  display: flex;
  flex-direction: column;
  background-color: #2E3047;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 5rem;
}
main h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.underline {
  background: linear-gradient(to bottom, transparent 0% 60%, #707793 60% 100%);
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

@media screen and (min-width: 1044px) {
  main {
    margin: 2rem;
    margin-top: 1rem;
    margin-bottom: 5rem;
    gap: 11rem;
  }
  main h3 {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */