@import "./sass/abstract/variables";
@import "./sass/base/base";
@import "./sass/base/typography";
@import "./sass/components/buttons";
@import "./sass/components/cards";
@import "./sass/components/email";
@import "./sass/components/icons";
@import "./sass/layout/about-me";
@import "./sass/layout/footer";
@import "./sass/layout/header";
@import "./sass/layout/intro";
@import "./sass/layout/projects";
@import "./sass/layout/tech-skills";

body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 5rem;

    h3 {
        font-size: $heading-font-size;
        font-weight: $heading-font-weight;
        margin-bottom: 2rem;
        text-align: center;
    }
}

@media screen and (min-width: 1044px) {
    main{
        margin: 8rem;
        margin-top: 1rem;
        margin-bottom: 10rem;
        gap: 6rem;

        h3{
            font-size: 3rem;
        }
    }
}