// colour scheme
$background-color: #2E3047;
$primary-color: #C9D7F3;
$secondary-color: #707793;
$secondary-background-color: #31354F;
$contrast-colour: #3BBA9C;
$footer-color: #2E3047;
$footer-background-color: #1D202E;

$font: 'Inter', san-serif;
