//project card buttons
.projects{
    &__button{
        border-radius: 0.438rem;
        background-color: $background-color;
        color: $primary-color;
        border: 1px solid $primary-color;
        padding: 0.625rem;
        font-size: $button-font-size;
        font-weight: $button-font-weight;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        &--code{
            width: 7.063rem;
        }

        &--preview{
            width: 8.75rem;
        }

    }

    button:hover{
        cursor: pointer;
    }
}


//footer buttons
.footer{
    &__button{
        border-radius: 30.125rem;
        background-color: white;
        border: none;
        width: 2.813rem;
        height: 2.813rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//intro button
.intro{
    &__button{
        border-radius: 0.4338rem;
        background-color: $background-color;
        border: 2px solid $primary-color;
        box-shadow: 0px 20px 40px rgba(185, 192, 192, 0.19);
        width: 20rem;
        height: 5rem;
        font-size: 1.25rem;
        font-weight: $button-font-weight;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        a{
            color: $primary-color;
            text-decoration: none;
        }

        a:visited{
            text-decoration: none;
            color: $primary-color;
        }

        img{
            padding-top: 0.5rem;
        }
    }
}
.intro__button:hover{
    cursor: pointer;
}

//desktop header button
@media screen and (min-width: 1044px) {
    .header{
        &__button{
            border-radius: 0.4338rem;
            background-color: $background-color;
            border: 1px solid $primary-color;
            width: 9.063rem;
            padding: 0.625rem;
            font-size: $button-font-size;
            font-weight: $button-font-weight;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}