//project card buttons
.projects{
    &__button{
        border-radius: 3rem;
        background-color: $background-color;
        color: $primary-color;
        border: 1px solid $contrast-colour;
        color: $contrast-colour;
        padding: 0.625rem;
        font-size: $button-font-size;
        font-weight: $button-font-weight;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;

        &--code{
            width: 7.063rem;
        }

        &--preview{
            width: 8.75rem;
        }

    }

    button:hover{
        cursor: pointer;
    }
}

@media screen and (min-width: 768px) {
    .projects{
        &__button{
            padding: 0.625rem;
            font-size: 0.8rem;
            font-weight: $button-font-weight;

            &--code{
                width: 6rem;
            }

            &--preview{
                width: 7rem;
            }

        }
    }
}


//footer buttons
.footer{
    &__button{
        border-radius: 30.125rem;
        background-color: $footer-color;
        border: none;
        width: 2.813rem;
        height: 2.813rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

//intro button
.intro{
    &__button{
        border-radius: 3rem;
        background-color: $contrast-colour;
        border: 2px solid $contrast-colour;
        width: 20rem;
        height: 5rem;
        font-size: 1.25rem;
        font-weight: $button-font-weight;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;

        a{
            color: $footer-background-color;
            text-decoration: none;
        }

        a:visited{
            text-decoration: none;
            color: $contrast-colour;
        }

        img{
            padding-top: 0.5rem;
        }
    }
}
.intro__button:hover{
    cursor: pointer;
}

//desktop header button
@media screen and (min-width: 1444px) {
    .header{
        &__button{
            border-radius: 3rem;
            background-color: $background-color;
            border: 1px solid $contrast-colour;
            color: $contrast-colour;
            width: 9.063rem;
            padding: 0.625rem;
            font-size: $button-font-size;
            font-weight: $button-font-weight;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__button:hover{
            background-color: $contrast-colour;
            color: $footer-background-color;
            transition-delay: 0.1s;
        }
    }
}